<!DOCTYPE html>
<ion-content [fullscreen]="true">
  <div class="container2">

    <div class="mainTitle">Información de la aplicación</div>
    <div class="mainParagraph">
      <p>Esta aplicación no recolecta información del dispositivo/usuario.</p>
      <p>Para obtener el estado del clima de una localidad, presionar el botón actualizar.
      </p>
      <p>Para cambiar la localidad, presionar el botón cambiar e ingresar los datos de la
        localidad correspondiente.
      </p>
      <p>Desarrollado por Gustavo Bastian :</p>
      <div class="myLink">
        <a  class="linkStyle" href="https://www.gabiot.com.ar">
          www.gabiot.com.ar
        </a>
        <a  class="flex flex-col justify-content-left" href="mailto:gubastian@gabiot.com.ar" aria-label="mail">
          <ion-chip slot="icon-only" class="flex flex-row justify-content-left" >
          <ion-icon  class="flex flex-row justify-content-left" name="mail-outline" >
          </ion-icon>
          </ion-chip>
        </a>
      </div>
    </div>

    <button type="button" id="goHomeButton" (click)="goHome()">Volver</button>
  </div>
</ion-content>
