<!DOCTYPE html>
<ion-content [fullscreen]="true">
  <div class="container2">

    <div class="mainTitle">Información de la aplicación</div>
    <div class="mainParagraph">
      <p>Esta aplicación no recolecta información del dispositivo/usuario.</p>
      <p>Para obtener el estado del clima de una localidad, presionar el botón actualizar.
      </p>
      <p>Para cambiar la localidad, presionar el botón cambiar e ingresar los datos de la
        localidad correspondiente.
      </p>
      <p>Desarrollado por Gustavo Bastian :</p>
      <div class="myLink">
        <a  style="color:black;" href="https://www.gabiot.com.ar">www.gabiot.com.ar</a>
        <a  style="color:black;" href="mailto:gubastian@gabiot.com.ar"><ion-icon name="mail-outline"></ion-icon></a>
      </div>
    </div>

    <button id="goHomeButton" (click)="goHome()">Volver</button>
  </div>
</ion-content>
