
.container2{
  display:flex;
  flex-direction: column;
  justify-content:top ;
  height: 100%;
  margin-top: 0;
  padding-top: 50px;
  font-size: 18px;
  background: linear-gradient(#fae1c6,#264958 ) !important;
}
.titleLocal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  color: black!important;
}
.changeButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 48px;
  border-radius: 10px;
  margin-left: 50%;
  font-size: 18px;
  transform: translate(-35px,0);
  align-items: center;
  background: rgb(250, 250, 165);
  color:black;
}
.changeButton:hover{
  background: rgb(143, 143, 23);
}
.lineInput{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  width: 250px;
  margin-left: 50%;
  transform: translate(-125px,0);
  color:black;
}
.tipeInput{
  background: lightgray;
  border-width: 1px;
  border-radius: 3px;
  border-color: rgb(219, 162, 162);
  margin-left: 1px;
  width: (250-70)px;
}
.labelInput{
  display: flex;
  justify-content: flex-end;
  width: 70px!important;
}
