<!DOCTYPE html>

<ion-content [fullscreen]="true">


  <div class="container2">
      <div class="cityLine">
        <div class="cityValue">{{city}}</div>
      </div>
      <div class="stateLine">
        <div class="stateValue">{{state}}</div>
      </div>
      <div class="countryLine">
        <div class="country">{{country}}</div>
      </div>
      <button id="cityChange" (click)="onEdit()">Cambiar</button>

      <div *ngIf="icon !==''">
        <img class="myImage" src="{{icon}}" alt="Day Icon">
      </div>
      <div *ngIf="icon ===''">
        <div class="myImage" ></div>
      </div>

      <div class="temperatureLine">
        <div class="temperaturaLabel">Temperatura:</div>
        <div class="temperatureValue">
          <div class="temperatura">{{temperature}}</div>
          <div > ºC</div>
        </div>
      </div>
      <div class="temperatureLine2">
        <div class="temperaturaLabel">Sensación:</div>
        <div class="temperatureValue">
          <div class="temperatura">{{feels_like}}</div>
          <div > ºC</div>
        </div>
      </div>
      <div class="pressureLine">
        <div class="pressureLabel">Presión atm.</div>
        <div class="pressureValue">
          <div class="pressure">{{pressure}}</div>
          <div >mB</div>
        </div>
      </div>
      <div class="humidityLine">
        <div class="humidityLabel">Humedad.</div>
        <div class="humidityValue">
          <div class="Humidity">{{humidity}}</div>
          <div >%</div>
        </div>
      </div>
      <!--
      <div class="spaceBetween"></div>-->
      <button class="myButton" id="GetData" (click)="onClick()">Actualizar</button>
      <div class="timeLine">
        <p>Ultima actualizacion:{{lastUpgradeTime}} </p>
      </div>
  </div>
</ion-content>
  <ion-footer class="footer">
    <ion-toolbar class="footer2">
      <div class="myFooter">
        <p>Powered by:<a href="https://www.weatherapi.com/" title="Weather API">WeatherAPI.com</a></p>
        <button class="infoButton" id="infoButton" (click)="goInfo()">Info</button>
      </div>
    </ion-toolbar>
  </ion-footer>


